.rbc-day-bg.rbc-off-range-bg {
  pointer-events: none;
}

.rbc-date-cell {
  pointer-events: none;
  text-align: left;
}

.rbc-date-cell div {
  pointer-events: none;
}

.rbc-day-bg {
  position: relative;
}

.rbc-day-bg .rbc-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
}
